<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{product.name}}</title>
     <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    {%load static%}
</head>
<body background="{%static 'image/49567e0d7108148f8ba0e130fdcafb91.jpg'%}">
<div class="fixed">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'main_page' 1%}">Все товары <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'korzina'%}">Корзина</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">вы вошли как:
            {%if username%}
            {{username}}
            {%else%}
            Гость
            {%endif%}
        </a>
      </li>
        <li class="nav-item">
            {%if username%}
                <a class="nav-link" href="{%url 'logout'%}">Выйти</a>
            {%else%}
                <a class="nav-link" href="{%url 'login'%}">Войти как пользователь</a>
            {%endif%}
      </li>
        {%if not username%}
        <li>
            <a class="nav-link" href="{%url 'register2'%}">Зарегистрироваться</a>
        </li>
        {%endif%}
    </ul>

  </div>
</nav>
    <div/>
{%if product.image%}
<div class="product">
    <div class="ramka_otstup"><img src="{{ MEDIA_URL }}{{product.image.url}}"  height="400px" ></div>
{%endif%}
<div class="otstup">
<p id="name">{{product.name}}</p>
<p class="category">Категория:  {{product.category}}</p>
<p class="category">Цена:   {{product.price}} Рублей</p>
<p class="text">Описание:</p>
<p>{{product.text}}</p>

</div>
</div>

</body>
</html>